body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #757575; /* Gray background */
    color: #ffffff; /* White text */
}
.container {
    max-width: 800px;
    margin: auto;
    background: #333333; /* Dark background for the container */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 20px;
    color:  #ffffff;
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td, th {
    padding: 10px;
    border: 1px solid #cccccc;
}

th {
    background-color: #f5f5f5;
    color: #333333;
    font-weight: bold;
}

input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.radio-group {
    margin-bottom: 20px;
}

.radio-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.submit-section {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    padding: 12px 24px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}